<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Knowledge</h2>
    <p>I have developed for years surrounded mostly by Google Cloud tools, my studies focus on distributed computing tech such as microservices or blockchain.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>  
    <p>My main development languages are Java and Python, but I have worked with Go, C, Ruby, JS, Solidity and more..</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, SQL, Jenkins, Django, NPM, Linux, Docker, Kubernetes, JIRA and many more.</p>
  </div>
</div>
